* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}

p {
  font-size: 5rem;
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 0rem;
}

.all-buttons button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.all-buttons button:nth-last-child(3),
.all-buttons button:nth-last-child(2) {
  background: tomato;
  color: white;
}
