* {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}
input,
button {
  font-size: 2rem;
  padding: auto;
  border-radius: 5px;
}
input {
  display: block;
  text-align: center;
  margin: 0 auto;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}

p {
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 0rem;
}

.all-buttons button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.all-buttons button:nth-last-child(3),
.all-buttons button:nth-last-child(2) {
  background: tomato;
  color: white;
}
